In [1]:
# Importing the dependencies
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [3]:
# Data Collection and Analysis
# Loading the diabetes dataset
diabetes_dataset = pd.read_csv('/home/clement/Documents/Data_set/pima_indians_diabetes/pima-indians-diabetes.csv')

In [4]:
# printing the first 5 rows of the dataset
diabetes_dataset.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [5]:
diabetes_dataset.shape

(767, 9)

In [6]:
diabetes_dataset.describe

<bound method NDFrame.describe of       6  148  72  35    0  33.6  0.627  50  1
0     1   85  66  29    0  26.6  0.351  31  0
1     8  183  64   0    0  23.3  0.672  32  1
2     1   89  66  23   94  28.1  0.167  21  0
3     0  137  40  35  168  43.1  2.288  33  1
4     5  116  74   0    0  25.6  0.201  30  0
..   ..  ...  ..  ..  ...   ...    ...  .. ..
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

[767 rows x 9 columns]>

In [7]:
diabetes_dataset.columns = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome']

In [8]:
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,85,66,29,0,26.6,0.351,31,0
1,8,183,64,0,0,23.3,0.672,32,1
2,1,89,66,23,94,28.1,0.167,21,0
3,0,137,40,35,168,43.1,2.288,33,1
4,5,116,74,0,0,25.6,0.201,30,0

In [9]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    267
Name: Outcome, dtype: int64

In [10]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.98000,68.184000,19.664000,68.79200,30.304200,0.429734,31.190000
1,4.861423,141.23221,70.820225,22.116105,100.71161,35.148315,0.550213,37.018727

In [11]:
# seperating the data and labels
X = diabetes_dataset.drop(columns = 'Outcome', axis=1)
Y = diabetes_dataset['Outcome']

In [12]:
print(X)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              1       85             66             29        0  26.6
1              8      183             64              0        0  23.3
2              1       89             66             23       94  28.1
3              0      137             40             35      168  43.1
4              5      116             74              0        0  25.6
..           ...      ...            ...            ...      ...   ...
762           10      101             76             48      180  32.9
763            2      122             70             27        0  36.8
764            5      121             72             23      112  26.2
765            1      126             60              0        0  30.1
766            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.351   31
1                       0.672   32
2                       0.167   21
3                       2.288   33
4                       0.201   30
..                        ...  ...
762                     0.171   63
763                     0.340   27
764                     0.245   30
765                     0.349   47
766                     0.315   23

[767 rows x 8 columns]

In [13]:
print(Y)

0      0
1      1
2      0
3      1
4      0
      ..
762    0
763    0
764    0
765    1
766    0
Name: Outcome, Length: 767, dtype: int64

In [14]:
#Data Standardization
scaler = StandardScaler()

In [15]:
scaler.fit(X)

StandardScaler()

In [16]:
standardized_data = scaler.transform(X)

In [18]:
print(standardized_data)

[[-0.84372629 -1.12208597 -0.16024856 ... -0.68372895 -0.36426474
  -0.18894038]
 [ 1.23423997  1.94447577 -0.26357823 ... -1.10230105  0.60470064
  -0.1037951 ]
 [-0.84372629 -0.99692019 -0.16024856 ... -0.49346891 -0.91968415
  -1.0403932 ]
 ...
 [ 0.343683    0.0044061   0.14974046 ... -0.73446496 -0.68423462
  -0.27408566]
 [-0.84372629  0.16086333 -0.47023757 ... -0.23978884 -0.37030191
   1.17338414]
 [-0.84372629 -0.8717544   0.04641078 ... -0.20173684 -0.47293375
  -0.87010264]]

In [19]:
standardized_data = X

In [20]:
#Train Test Split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [21]:
print(X.shape, X_train.shape, X_test.shape)

(767, 8) (613, 8) (154, 8)

In [22]:
# Training the data
classifier = svm.SVC(kernel='linear')

In [23]:
#training the support vector Machine Classifier
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [24]:
# Model Evaluation

#Accuracy score
# accuracy score on the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [25]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.7830342577487766

In [26]:
# accuracy score on the test data
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [27]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.7857142857142857

In [30]:
input_data = (4,110,92,0,0,37.6,0.191,30)

In [31]:
#changing the input data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

In [32]:
# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

In [33]:
# standardize the input data
std_data = scaler.transform(input_data_reshaped)

In [34]:
print(std_data)

[[ 0.04683068 -0.33979981  1.18303717 -1.28688187 -0.69355921  0.71151138
  -0.84723814 -0.27408566]]

In [35]:
prediction = classifier.predict(std_data)

In [36]:
print(prediction)

[0]

In [37]:
if (prediction[0] == 0):
    print('The person is not diabetic')
else:
    print('The person is diabetic')

The person is not diabetic